<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>693407250899-dm0ru2q6sj0qbcrn5d7d702u8m95pfaj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.693407250899-dm0ru2q6sj0qbcrn5d7d702u8m95pfaj</string>
	<key>API_KEY</key>
	<string>AIzaSyBP925YIjPXa22RIjMWCo5x2CTGbn7606U</string>
	<key>GCM_SENDER_ID</key>
	<string>693407250899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frenzygram</string>
	<key>PROJECT_ID</key>
	<string>frenzygram-fa689</string>
	<key>STORAGE_BUCKET</key>
	<string>frenzygram-fa689.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693407250899:ios:aa67a9a5f292899d585726</string>
</dict>
</plist>